* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

#grid {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .tool-pan #grid {
        cursor: -webkit-grab;
    }
    .tool-pan #grid:active {
        cursor: -webkit-grabbing;
    }
    .tool-move #grid {
        cursor: move;
    }
    .tool-arrow #grid {
        cursor: crosshair;
    }
    #grid ol {
        display: grid;
        position: relative;
        list-style: none;
}

#grid li {
        display: grid;
        border: 2px dashed #ccc;
        border-top: none;
        border-left: none;
        transition: background .2s;
    }
    #grid li:hover {
        background: #eee;
    }
    #grid li .latex {
        margin: auto;
}

#toolbox {
        display: grid;
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 2em;
    }
    #toolbox ul {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: 0 auto;
        padding: 0 .5em;
        background: rgba(221, 221, 221, .7);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
        list-style: none;
    }
    #toolbox li {
        padding: .5em;
    }
    #toolbox li.separator {
        margin: 0 .5em;
        padding-left: 0;
        padding-right: 0;
        width: 2px;
        height: calc(24px + 1em);
        background: #aaa;
        text-indent: -9999em;
    }
    #toolbox li:not(.separator):hover {
        background: #ccc;
    }
    #toolbox li:not(.separator).current {
        background: #bbb;
    }
    #toolbox li:not(.separator):active {
        background: #aaa;
    }
    #toolbox li img {
        vertical-align: bottom;
        width: 24px;
        height: 24px;
}
